<% content_for :title do %>
  Detalhes de Address
<% end %>

<div class="page-header">
  <h1>Detalhes de Address</h1>
  <div>
    <%= link_to edit_address_path(@address), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Editar
    <% end %>
    <%= link_to addresses_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Voltar
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Street:</dt>
  <dd><%= @address.street %></dd>

  <dt>City:</dt>
  <dd><%= @address.city %></dd>

  <dt>State:</dt>
  <dd><%= @address.state %></dd>

  <dt>Contact:</dt>
  <dd><%= @address.contact %></dd>

</dl>
